#D5{background-color: whitesmoke}

#Home{background-color: gold;
  border-style:outset;
  border-width:5px;
  border-color: black;}

#Fun{
  animation: Slide;
  animation-duration: 30s;
  animation-iteration-count: infinite;}

body{font-family: verdana;
  font-size: 2em;
  
}

body{background-image:url("/CITY.png");
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: cover;}

h1{color: darkorange;}

#searchbox{margin-left: 50%;
  margin-right: 50%;}

button:hover{background-color: blue; color: black;}

@keyframes Slide{
  from{margin-left: 100%;}
  to{margin-left: 0%;}
}


#board{
  margin-left: 25%;
  margin-left:25%;
  background-color: black;
}
